declaration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           targetNamespace="urn:gtd:item"
           xmlns="urn:gtd:item">

  <!-- =========================
       1) Корневой контейнер
     ========================= -->
  <xs:element name="Items">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Item" type="GoodsItemType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- =========================
       2) Тип одного товара
       Мэппинг на ваш XML в аннотациях
     ========================= -->
  <xs:complexType name="GoodsItemType">
    <xs:annotation>
      <xs:documentation>
        Соответствие колонок → путям в исходном XML:
        - HS код (ТН ВЭД) → Tarification/HScode/Commodity_code
        - Наименование товара → Goods_description/Description_of_goods
        - Страна происхождения → Goods_description/Country_of_origin_code (+ Name при необходимости)
        - Кол-во / Ед. изм. / Цена за ед. → Tarification/uom_quantity, uom_code|uom_name, uom_price
        - Брутто / Нетто → Valuation_item/Weight_itm/Gross_weight_itm, Net_weight_itm
        - Упаковки: кол-во/вид/марки → Packages/Number_of_packages, Kind_of_packages_code|name, Marks1_of_packages
        - Преференция → Tarification/Preference_code_PRFReg|PRFDut|PRFExc
        - Процедура (Амал) → Tarification/Extended_customs_procedure, National_customs_procedure
        - Доп. ед. изм. (47 графа) → Tarification/Supplementary_unit/...
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <!-- Идентификатор позиции (если нужен) -->
      <xs:element name="ItemNumber" type="xs:positiveInteger" minOccurs="0"/>

      <!-- HS / Описание -->
      <xs:element name="HSCode" type="HSCodeType"/>
      <xs:element name="GoodsDescription" type="NonEmptyString"/>

      <!-- Страна происхождения -->
      <xs:element name="CountryOfOrigin">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Code" type="CountryCode2" />
            <xs:element name="Name" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Упаковки -->
      <xs:element name="Packages" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NumberOfPackages" type="xs:decimal" minOccurs="0"/>
            <xs:element name="KindOfPackagesCode" type="xs:string" minOccurs="0"/>
            <xs:element name="KindOfPackagesName" type="xs:string" minOccurs="0"/>
            <xs:element name="Marks" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Кол-во / ЕИ / Цена -->
      <xs:element name="QuantityPrice">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Quantity" type="Decimals_3_3"/>   <!-- Tarification/uom_quantity -->
            <xs:element name="UOMCode" type="xs:string"/>        <!-- Tarification/uom_code -->
            <xs:element name="UOMName" type="xs:string" minOccurs="0"/> <!-- Tarification/uom_name -->
            <xs:element name="UnitPrice" type="Decimals_18_6" minOccurs="0"/> <!-- Tarification/uom_price -->
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Вес -->
      <xs:element name="Weights" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GrossKg" type="Decimals_18_3" minOccurs="0"/>
            <xs:element name="NetKg" type="Decimals_18_3" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Преференции -->
      <xs:element name="Preference" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PRFReg" type="PRFCode" minOccurs="0"/>
            <xs:element name="PRFDut" type="PRFCode" minOccurs="0"/>
            <xs:element name="PRFExc" type="PRFCode" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Процедуры (Амал) -->
      <xs:element name="Procedure" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ExtendedCustomsProcedure" type="xs:string" minOccurs="0"/> <!-- напр., 2100 -->
            <xs:element name="NationalCustomsProcedure" type="xs:string" minOccurs="0"/> <!-- напр., 044 -->
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Доп. ед. изм. (графа 47) - можно несколько -->
      <xs:element name="SupplementaryUnits" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SupplementaryUnit" type="SupplementaryUnitType" minOccurs="0" maxOccurs="3"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Налоги по позиции (укороченная форма) -->
      <xs:element name="Taxation" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ItemTaxesAmount" type="Decimals_18_2" minOccurs="0"/>
            <xs:element name="Lines" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Line" type="TaxLineType" minOccurs="0" maxOccurs="8"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Оценка по позиции (часть, часто требуется для сверок) -->
      <xs:element name="Valuation" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TotalCIF" type="Decimals_18_2" minOccurs="0"/>
            <xs:element name="StatisticalValue" type="Decimals_18_2" minOccurs="0"/>
            <xs:element name="Invoice" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="AmountNational" type="Decimals_18_2" minOccurs="0"/>
                  <xs:element name="AmountForeign" type="Decimals_18_2" minOccurs="0"/>
                  <xs:element name="CurrencyCode" type="Currency3" minOccurs="0"/>
                  <xs:element name="CurrencyRate" type="Decimals_18_6" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <!-- =========================
       3) Вспомогательные типы
     ========================= -->

  <xs:simpleType name="NonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="HSCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{6}|\d{8}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CountryCode2">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Currency3">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PRFCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Decimals_18_6">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="6"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Decimals_18_3">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="3"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Decimals_18_2">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Decimals_3_3">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="6"/>
      <xs:fractionDigits value="3"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="SupplementaryUnitType">
    <xs:sequence>
      <xs:element name="Quantity" type="Decimals_18_6" minOccurs="0"/>   <!-- Tarification/Supplementary_unit/Suppplementary_unit_quantity -->
      <xs:element name="Code" type="xs:string" minOccurs="0"/>           <!-- .../Suppplementary_unit_code -->
      <xs:element name="Name" type="xs:string" minOccurs="0"/>           <!-- .../Suppplementary_unit_name -->
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TaxLineType">
    <xs:sequence>
      <xs:element name="DutyTaxCode" type="xs:string" minOccurs="0"/>
      <xs:element name="Base" type="Decimals_18_2" minOccurs="0"/>
      <xs:element name="Rate" type="Decimals_18_6" minOccurs="0"/>
      <xs:element name="Amount" type="Decimals_18_2" minOccurs="0"/>
      <xs:element name="ModeOfPayment" type="xs:string" minOccurs="0"/>
      <xs:element name="CalcType" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
